

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Devonshire&family=Ewert&family=Fascinate+Inline&family=Girassol&family=Itim&family=Kenia&family=Oswald:wght@300;400&family=Pangolin&family=Roboto&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: #f8f9fa !important;
}

.logo-icon{
    height: 40px;
    width: 40px;
}


.navbar-brand{
    font-family: 'Girassol', cursive;
    letter-spacing: 5px;
    font-size: 2rem !important;
    text-decoration: underline  !important;
}

.navbar-brand:hover{
    text-decoration: underline  !important;
}

.nav-item{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.welcome{
    font-family: 'Devonshire', cursive;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 5%;
}

.logo-words{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Girassol', cursive;
    letter-spacing: 10px;
    text-decoration: underline;
    padding-top: 5%;
    padding-bottom: 5%;
}

.slogan{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Devonshire', cursive;
    letter-spacing: 5px;
    margin-bottom: 5%;
}

/*#header-img{
    border: 2px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5%;
}*/

.carousel{
    border: 2px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-top: 5%;
}

.box{
    background-color: #f8f9fa !important;
    text-shadow: 3px 2px 10px rgba(50, 50, 93, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 30% 0% 30% 0% !important;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5%;
}

.horizontal-line-0{
    background-color: rgb(41, 32, 32) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.horizontal-line-1{
    margin-top: 0px !important;
    background-color: rgb(41, 32, 32) !important;
}

.horizontal-line-2{
    margin-top: 10% !important;
    background-color: rgb(41, 32, 32) !important;
}

.horizontal-line-3{
    margin-top: 10% !important;
    background-color: rgb(41, 32, 32) !important;
}

.horizontal-line-4{
    margin-top: 10% !important;
    background-color: rgb(41, 32, 32) !important;
}

.horizontal-line-5{
    margin-top: 10% !important;
    margin-bottom: 2% !important;
    background-color: rgb(41, 32, 32) !important;
}

.horizontal-line-6{
    margin-top: 2% !important;
    margin-bottom: 1% !important;
    background-color: rgb(41, 32, 32) !important;
}

.horizontal-line-7{
    margin-top: 1% !important;
    margin-bottom: 1% !important;
    background-color: rgb(41, 32, 32) !important;
}

.about{
    letter-spacing: 5px;
    font-size: 3rem;
    font-family: 'Ewert', cursive;
    padding-top: 50px;
    padding-bottom: 30px;
}

.about-p{
    padding-bottom: 50px;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.location{
    margin-top: 4%;
    font-family: 'Girassol', cursive;
    letter-spacing: 2px;
}

.location-p{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
}

.menu{
    letter-spacing: 5px;
    font-size: 3rem;
    font-family: 'Ewert', cursive;
    padding-top: 50px;
    padding-bottom: 30px;
}

.menu-2{
    margin-top: 4%;
}

.card-title{
    font-family: 'Ewert', cursive;
    letter-spacing: 3px;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline;
    padding-top: 2%;
    text-shadow: 3px 2px 10px rgba(50, 50, 93, 0.25);
}

.card-text{
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding-top: 3%;
}

.list-group-item{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}


.contact{
    letter-spacing: 5px;
    font-size: 3rem;
    font-family: 'Ewert', cursive;
    padding-top: 50px;
    padding-bottom: 30px;
}

label{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.btn{
    margin-top: 5%;
    width: 200px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    cursor: pointer;
}


.footer-logo{
    margin-top: 0;
    margin-bottom: 0; 
}


.footer-text{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    margin-top: 5%;
    font-weight: 500;
}

.footer-li{
    text-align: center;
    list-style: none;
    margin-top: 1.5%;
    cursor: pointer !important;
}


.footer-li > a:hover{
    text-decoration: none;
}

.footer-slogan{
    margin-bottom: 3%;
}

.social{
    text-align: center;
}

.social-icon{
    font-size: 2rem;
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.social-icon :hover{
    cursor: pointer;
    color: #54a;
}


.footer-js{
    display: flex;
    flex-direction: row;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.div-clock{
    text-align: center;
    margin: auto;
    width: 50%;
}

.div-date{
    text-align: center;
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .div-clock {
      font-size: 1rem;
    }
    .div-date{
        font-size: 1rem;
    }
  }
  div.mm-dropdown {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 3px;
}

div.mm-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

div.mm-dropdown ul li,
div.mm-dropdown div.textfirst {
  padding: 0;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding: 5px 15px;
}

div.mm-dropdown div.textfirst img.down {
  float: right;
  margin-top: 5px
}

div.mm-dropdown ul li:last-child {
  border-bottom: 0;
}

div.mm-dropdown ul li {
  display: none;
  padding-left: 25px;
}

div.mm-dropdown ul li.main {
  display: block;
}

div.mm-dropdown ul li img {
  width: 20px;
  height: 20px;
}
.imgstart{
    height: 350px;
    width: 350px
}